.ServiceSection {
}

.ServiceSection--Grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.ServiceSection--Grid > * {
  width: calc(33% - 2rem);
}

@supports (display: grid) {
  .ServiceSection--Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  .ServiceSection--Grid > * {
    width: auto;
    margin: 0;
  }
}

.ServiceSection--Title {
  width: 100%;
  max-width: 150px;
  margin: 0 auto 4rem auto;
  line-height: 1.2;
}

@media screen and (max-width: 888px) {
  .ServiceSection--Grid > * {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto 4rem;
    display: block;
  }

  @supports (display: grid) {
    .ServiceSection--Grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;
    }
  }
}
